* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8ecff;
  font-family: "Raleway", sans-serif;
}

.Sec1 {
  padding: 5rem 8rem;
  display: flex;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
}
.Sec1 h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 6vw;
}
.Sec1 h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 200;
  font-size: 24px;
  color: #9d00e6;
}
.Sec1 p {
  width: 70%;
  margin-top: 2rem;
}
.Sec1 img {
  width: 30%;
  border-radius: 0.5rem;
}

.Sec2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 40px 0;
  flex-wrap: wrap;
}
.Sec2 img {
  width: 1.2em;
  height: 1.2em;
  filter: grayscale(100%);
}
.Sec2 div {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  gap: 0.35rem;
}
.Sec3 {
  padding: 0 3em;
  color: black;
  padding-top: 1em;

}

.Sec3 footer {
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0em;
  font-weight: bolder;
}
.Sec3 form {
  display: grid;
  grid-template-rows: auto;
  width: 30%;
  gap: 0.6em;
  margin: auto;
  min-width: 300px;
}


.Sec3 input,
textarea {
  border-radius: 5px;
  background: #00000025;
  border: none;
  padding: 8px 12px;
  width: 100%;
}

.Sec3 input:focus,
textarea:focus {
  outline: none;
}

.Sec3 input:focus-within,
textarea:focus-within {
  border: 1.5px solid #000000;
}
.Sec3 button {
  border: none;
  background-color: #6f00ff;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
